<!DOCTYPE html>
<html>
<head>
  <title>Hoop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <li><a href="/sponsors/">Sponsors</a></li>
  <li><a href="/paysites/">Paysites</a></li>
</ul>

<%= yield %>

</body>
</html>
